p::first-line {
  color: red;
  width: 1000px;
  border: 1px solid black;
  text-indent:360px;
}
a[title] {
  color:aquamarine;
}

ul > li {
  border-top: 5px solid red;
}

html {
  /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
  font-size: 10px;
  /* Google fonts 输出的 CSS */
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
  line-height: 1;
  letter-spacing: 1px;
}